includes:
	- vendor/larastan/larastan/extension.neon

parameters:
	phpVersion:
		min: 80200
		max: 80400

	paths:
		- src

	excludePaths:
		analyseAndScan:
			- tests/*

	# Level 9 is the highest level
	level: 6

	ignoreErrors:
		- '#no value type specified in iterable type array#'
		- '#return type with generic class#'
		- '#uses generic trait#'

	reportUnmatchedIgnoredErrors: false
